<div class="appointment-list">
  <div class="date-navigation">
    <button mat-icon-button color="primary" (click)="goToPreviousDate()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="current-date">{{ currentDate | date : "MMM dd, yyyy" }}</div>
    <button mat-icon-button color="primary" (click)="goToNextDate()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="hour-list" cdkDropListGroup>
    <ng-container *ngFor="let hour of hours">
      <div
        class="hour"
        cdkDropList
        [cdkDropListData]="dataSource.data"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="hour-label">{{ hour }}:00</div>
        <div class="appointments" cdkDropList>
          <div
            class="appointment"
            *ngFor="let appointment of getAppointmentsByHour(hour)"
            cdkDrag
            [cdkDragData]="appointment"
          >
            <div class="appointment-details">
              <div class="appointment-title">{{ appointment.title }}</div>
              <div class="appointment-time">
                {{ appointment.startDate | date : "shortTime" }}
              </div>
            </div>
            <button
              mat-icon-button
              color="warn"
              (click)="deleteAppointment(appointment)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
