<div class="container">
  <div class="datepicker-container">
    <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    <mat-form-field>
      <mat-label>Choose a time</mat-label>
      <mat-select
        [(ngModel)]="selectedTime"
        (selectionChange)="onTimeSelect($event)"
      >
        <mat-option *ngFor="let hour of hours" [value]="hour">
          {{ hour }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="button-container">
      <button
        [disabled]="!selectedDate || selectedTime === null"
        mat-raised-button
        color="primary"
        (click)="openAppointmentModal()"
      >
        Create Appointment
      </button>
    </div>
  </div>
  <div class="appointment-list-container">
    <app-appointment-list></app-appointment-list>
  </div>
</div>
